@{
    ViewBag.Title = "Home Page";
}


<div class="slider_container">
    <div class="text_container">
        <div class="text_title">
            <p>IPHONE 6 32GB <br> BLACK </p>
        </div>
        <div class="text_info">
            <p>At first, for some time, I was not able to answer to him one word <br> but as he had taken me in his arms i held fast by hum <br> have fallen to the ground</p>
        </div>
    </div>
    <div class="image_container">

    </div>
</div>
