<div class="signin-container">
    <form class="box" action="page-sign.html" method="post">
        <h1>Login, please</h1>
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="Password">
        <input type="submit" name="" value="Login">

    </form>
</div>    